<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Ng Recipe</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" routerLink="/recipes"><a style="cursor: pointer;">Recipes</a></li>
      <li routerLinkActive="active" routerLink="/shopping-list"><a style="cursor: pointer;">Shopping List</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdownMenu style="cursor: pointer;">
          <a class="dropdown-toggle"><span class="glyphicon glyphicon-circle-arrow-down" role="button"></span> Manage</a>
          <ul class="dropdown-menu">
            <li (click)="fetchDataFromServer()"><a>Fetch Recipes From server</a></li>
            <li (click)="saveData()"><a>Save added recipes</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
