<h3>Recipe Details</h3>
<hr>
<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}" [alt]="recipe.name"
         style="max-height: 400px;" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4 class="text-capitalize text-info">{{recipe.name}}</h4>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <div class="button-group" appDropdownMenu>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>
    <ul class="dropdown-menu" style="cursor: pointer">
      <li><a (click)="toShoppingList()">To Shopping List</a></li> <!-- sends these ingredients to shopping list -->
      <li><a (click)="editRecipe(recipe)">Edit Recipe</a></li>
      <li><a (click)="deleteRecipe(recipeIndex)">Delete Recipe</a></li>
    </ul>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h5 style="color: white;">{{recipe.description}}</h5>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
