<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a style="cursor: pointer" class="list-group-item"
         (click)="editItem(i)"
      *ngFor="let ingredient of ingredients; let i = index">
        <span>{{ingredient.name}} ({{ ingredient.amount }})</span>
      </a>
    </ul>
    <div class="row" style="margin-top: 15px" *ngIf="!ingredients.length">
      <div class="col-xs-12 alert alert-warning">
        No Ingredients found, please add some !
      </div>
    </div>
  </div>
</div>
