<div class="row">
  <div [hidden]="!submitted" class="alert alert-success col-xs-12">
        <h5>Ingredient saved successfully.</h5>
  </div>
  <div *ngIf="editMode; else addItemText" class="alert alert-danger col-xs-12">
        <h5>Edit ingredient</h5>
  </div>
  <ng-template #addItemText>
    <div class="alert alert-info col-xs-12">
       <h5>Add new ingredient</h5>
    </div>
  </ng-template>

  <div class="col-xs-12">
    <form name="shoppingForm" #shoppingForm="ngForm">
      <div class="row">
        <div class="row-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" required
          name="name" ngModel #name="ngModel">
          <div class="alert alert-danger" [hidden]="name.valid || name.pristine">
            Name is required.
          </div>
        </div>
        <div class="row-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" min="1"
           name="amount"  required ngModel #amount="ngModel">
          <div class="alert alert-danger" [hidden] ="amount.valid || amount.pristine">
            Amount is required.
          </div>
        </div>
        <div>
          <div class="alert alert-warning" *ngIf="!shoppingForm.valid && shoppingForm.touched && shoppingForm.dirty">
           All fields are mandatory, amount cannot be smaller than 1
          </div>
        </div>
        <br>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-group">
          <button class="btn btn-success" type="button"
                  (click)="onIngredientAdd(shoppingForm)" [disabled]="!shoppingForm.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-warning">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
